body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

header {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #333;
    font-family: Arial, sans-serif;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

#search-section {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#city-input {
    flex: 1;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

#search-button {
    padding: 0.5rem;
    min-width: 100px;
}

#current-weather, #forecast {
    background: white;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#history {
    margin-top: 2rem;
}

#history-list {
    list-style: none;
    padding: 0;
}

#history-list li {
    padding: 0.5rem;
    cursor: pointer;
    background: white;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card {
    background-color: #f8f9fa; /* Bright background color */
    border: 1px solid #dee2e6; /* Light border */
    margin-bottom: 15px; /* Space between cards */
    text-align: center; /* Center text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.card-body {
    padding: 10px;
}

.card p {
    margin: 5px 0; /* Reduce margin for paragraphs */
}

.card img {
    width: 50px; /* Fixed size for weather icon */
    height: 50px;
    margin-bottom: 10px;
}

#forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.forecast-card {
    flex: 1 0; /* Adjust card width */
    margin: 10px;
    background-color: #1694cf; 
}